.product-card {
    border: 1px solid #ddd;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;


&:hover{
    transform: scale(1.03);
}

&__image{
    height: 200px;
    object-fit: contain;
}
&__info{
    margin-top: 1rem;
}
&__title{
    font-size: 0.9rem;
    height: 40px;
    overflow: hidden;
}
&__price{
    font-weight: bold;
    margin-top: 0.5rem;
}
}