@use 'variables' as *;
@use 'mixins' as *;

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    padding:1rem;
}