input{
    width: 100%;
    padding: 0.75rem;
     margin-top: 1rem;
    margin-bottom: 1rem; 
    font-size: 1rem;
    box-sizing: border-box;
}
.search-wrapper{
    // max-width: 500px;+
    margin: 20px;
}