.navbar{
    padding: 1rem 2rem;
    background-color: #1e88e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo,
    &__links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}
