.navbar{
    padding: 1rem 2rem;
    background-color: #1e88e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
    }
    &__links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        padding-right: 1.5rem;
    }
}

.cart-link{
  display: inline-flex;
   align-items: center;
}

.cart-badge{
    position: absolute;
    // top: -6px;
    right: 0;
    background-color: #ff5252;
    color: white;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
    text-align: center;
    animation: pop 0.2s ease;
}

@keyframes pop {
    from { transform: scale(0.7);}
    to { transform: scale(1);}
}