.filters{
    display: flex;
    gap: 1rem;
    // margin-bottom: 1rem;
    select{
        padding: 0.6rem 0.8rem;
        font-size: 0.95rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
        min-width: 160px;
        margin-left: 20px;

        &:focus{
            outline: none;
            border-color: #333;
        }
    }
    @media (max-width: 600px) {
        flex-direction: column;
        gap: 0.75rem;

        select {
            width: 100%; 
            margin-left: 0;
        }
    }
}